---
import NinetySixLayout from "../../layouts/NinetySixLayout.astro";
const breadCrumbs = [
  { href: "/", label: "Home" },
  { href: "/archive/main", label: "Archive" },
];
---

---

<NinetySixLayout title="Guestbook" breadCrumbs={breadCrumbs}>
  <table>
    <tr>
      <th>Username</th>
      <th>Comments</th>
    </tr>
    <tr>
      <td>ShadowWarrior42</td>
      <td
        >Hey fellow warriors! Just defeated the mighty dragon in the Infinity
        MUD. My sword glowed with the power of a thousand stars. Epic adventure!</td
      >
    </tr>
    <tr>
      <td>MysticSorcerer</td>
      <td
        >Greetings from the mystic realms! The spells in Infinity are
        mind-blowing. Turned my foes into frogs and danced around them.
        Fantastic game!</td
      >
    </tr>
    <tr>
      <td>PixelKnight1996</td>
      <td
        >Totally shocking that you're reading this. Be sure to stop by Devnull's
        area on your way to Death's workroom!</td
      >
    </tr>
    <tr>
      <td>CyberWizardX</td>
      <td
        >The cyberspace in Infinity is mind-bending! Virtual reality meets dark
        magic. Hacking spells and casting firewalls, truly a cyberpunk fantasy.</td
      >
    </tr>
    <tr>
      <td>GalacticExplorer</td>
      <td
        >Infinity MUD takes us to the far reaches of space! Explored distant
        galaxies, met alien races. Feeling like a true galactic explorer.</td
      >
    </tr>
    <tr>
      <td>NinjaRogue</td>
      <td
        >Sneaking in shadows, slicing enemies with ninja precision. Infinity is
        the ultimate ninja playground. Stealth mode engaged!</td
      >
    </tr>
    <tr>
      <td>RetroGamer1996</td>
      <td
        >Just stumbled upon this webpage - totally cool! Infinity MUD is like a
        time machine to the golden age of gaming. Loving every moment!</td
      >
    </tr>
    <tr>
      <td>ElectronExplorer</td>
      <td
        >Surfed into this site and got hooked instantly! Infinity's text-based
        adventures are a refreshing break from flashy graphics. My imagination
        is on overdrive!</td
      >
    </tr>
    <tr>
      <td>CoolCat96</td>
      <td
        >This website is totally tubular! I dialed in and got connected right
        away!</td
      >
    </tr>
  </table>
</NinetySixLayout>
