---
import NinetySixLayout from "../../layouts/NinetySixLayout.astro";
---

<NinetySixLayout title="Infinity Archives">
  <table>
    <tr>
      <th>Article</th>
      <th>Description</th>
    </tr>
    <tr>
      <td><a href="/archive/quest-design">Guide to Quest Design</a></td>
      <td>Macbeth's Guide to Quest Design</td>
    </tr>
    <tr>
      <td><a href="/archive/history-of-muds">The History of MUDs</a></td>
      <td>The history of MUDs by Richard Bartle</td>
    </tr>
    <tr>
      <td><a href="/archive/testing">Things that happen in Testing</a></td>
      <td>Some interesting things that can happen in testing!</td>
    </tr>
  </table>

  <div id="image-container">
    <script type="text/javascript" src="//counter.websiteout.com/js/2/6/7411/0"
    ></script>
  </div>
  <div class="text-center mx-auto">
    <a href="/archive/guestbook">Don't Forget To Sign Our Guestbook!</a>
  </div>
</NinetySixLayout>
