---
import PageHeader from "../components/PageHeader.astro";
import PageSection from "../components/PageSection.astro";
import InfinityMainLayout from "../layouts/InfinityMainLayout.astro";
---

<InfinityMainLayout title="Clients">
  <PageHeader title="Connecting">
    Infinity awaits adventurers at `infinitymud.net` on port `4242`, accessible
    through the Telnet protocol. While Telnet provides a basic means to connect
    to the game, offering a straightforward text interface, seasoned players and
    newcomers alike are encouraged to enhance their gaming experience by
    utilizing a dedicated MUD client. Many hours have been spent by our players
    hunched over an amber screen in a University computer lab, but now days we
    have a <a class="font-bold" href="https://www.infinitymud.net/play"
      >Custom Web Client</a
    > that makes playing easier than ever. Our works on any device, including tablets
    and mobile devices!
  </PageHeader>
  <PageSection>
    Other clients are also available, such as TinTin++, Mudlet or others, and
    not only provide a user-friendly and feature-rich environment but also
    enables players to take advantage of scripting, automation, and
    customization features. Connecting via a MUD client enhances the immersion
    in the game world, offering a more dynamic and enjoyable experience for
    those embarking on the captivating journey within Infinity's virtual realms.
  </PageSection>
  <PageSection title="Mudlet">
    <a href="https://www.mudlet.org/" target="_blank">Mudlet</a> stands as a powerful
    and user-friendly MUD client, offering a robust platform for immersive gameplay
    in text-based multiplayer online games. Renowned for its versatility, Mudlet
    provides a feature-rich environment designed to enhance the gaming experience.
    With a user-friendly interface and a Lua scripting engine, Mudlet empowers players
    to customize and automate various in-game actions, creating a personalized and
    efficient interaction with the virtual world. Its support for multiple sessions,
    triggers, and an extensive set of features makes Mudlet a preferred choice among
    MUD enthusiasts. Whether you're a seasoned player or a newcomer to text-based
    gaming, Mudlet's capabilities make it a reliable companion, elevating the adventure
    within MUDs to new heights.
  </PageSection>
  <PageSection title="TinTin++">
    <a href="https://tintin.mudhalla.net/" target="_blank">TinTin++</a> is a powerful
    and popular MUD client known for its versatility and feature-rich capabilities.
    Designed to enhance the gaming experience in text-based multiplayer online games,
    TinTin++ provides users with a highly customizable environment. Its scripting
    language allows players to automate various actions, create aliases, and personalize
    the interface to suit their preferences. With support for multiple sessions,
    triggers, and an extensive set of features, TinTin++ is favored by avid MUD enthusiasts
    who seek a flexible and efficient client to navigate the intricate worlds of
    their favorite text-based games. Whether for experienced players or newcomers
    to MUDs, TinTin stands as a reliable companion, offering a seamless and tailored
    interface for immersive adventures in the realms of multiplayer text gaming.
  </PageSection>
</InfinityMainLayout>
