---
import InfinityMainLayout from "../layouts/InfinityMainLayout.astro";
import QandA from "../components/QandA.astro";
import PageHeader from "../components/PageHeader.astro";
import PageSection from "../components/PageSection.astro";
---

<InfinityMainLayout>
  <PageHeader title="FAQ" />
  <QandA question="What Kind of Mud Is Infinity?">
    Infinity originally started out in the beginning of 1992 as an LPMud running
    the 3.1.2 driver in compatibility mode, using a slightly modified 2.4.5
    mudlib. Over the past several years, we have migrated to the Amylaar driver,
    and followed the 3.2.1 development tree to LDMud, and are now running the
    latest stable release of 3.3.720. Our mudlib has been heavily modified by
    the ArchWizards, integrating new ideas to increase the enjoyment of players,
    decrease the amount of work for the ArchWizards, and to provide the Wizards
    with a comfortable environment for them to create areas in.
  </QandA>
  <QandA question="Does Infinity support player killing?">
    Infinity supports player-killing on a very limited basis. We believe that
    the focus of Infinity should be on the solving of quests, and the
    socializing with other characters on the game. As a result, player-killing
    is extremely restricted, appearing only in one room, the Arena. The Arena is
    located in the Town, and is the only room in which you can attack other
    players. There are no rules; ArchWizards will not arbitrate in any
    arena-related disputes, and there are no rules governing the idea of ganging
    up on other people, corpse-looting, or something similar. In the Arena,
    anything goes.
  </QandA>
  <QandA question="Why is Samuel Adams beer in the Pub and Tavern?">
    Infinity has been fortunate to receive permission from Jim Koch, president
    of the Boston Beer Company, to use the name of Samuel Adams on our beers in
    Infinity. This probably had a lot to do with the fact that Samuel Adams is
    Mutara's beer of choice. Besides, when was the last time you saw a
    Firebreather in a liquor store? Infinity currently offers two varieties of
    Samuel Adams. Samuel Adams Boston Lager is offered in the Pub in Town, and
    Boston Ale is offered in the Drunken Horse Tavern. We plan to rotate these
    beers to reflect the seasonal brews released by the Boston Beer Company
    shortly.
  </QandA>
  <QandA question="Who makes Infinity and Why?">
    <div>
      The ArchWizards of Infinity are the individuals that keep the game
      running. They undertake the unenviable tasks of writing and implementing
      the rules, policing the mud, serving as the quality control for areas,
      upholding the ethics they choose to revere, and providing a safe,
      protected environment for people that just want to have fun on a game.
      Each of them have been selected out of a number of qualified candidates
      for their drive, ambition, interest, and creativity; not only are they
      able to design and implement their ideas in ways to best improve the mud,
      they are also willing to listen to ideas from players and Wizards.
      <div class="mt-1">
        If you do have any comments or suggestions, you may send mail to them
        from the Post Office on the game (two west, two north, and one east from
        the Center of Town) at arches, or send them email at <a
          href="mailto:infinity@infinitymud.net">infinity@infinitymud.net</a
        >
      </div>
    </div>
    <div class="mt-1">
      Most recently, the Arches have taken on the progress of refurbishing the
      mud. Obscene amounts of hours have been poured into updating mud code,
      developing a top of the line <a href="https://infinitymud.net/play/">
        custom web client</a
      >, and squashing bugs. They do this because they hope you will enjoy this
      game as much as they do.
    </div>

    <div class="mt-1">The current Infinity Administration includes:</div>
    <div>
      <ul>
        <li>Malc: Administrator (Salt Lake City, Utah)</li>
        <li>Devnull: ArchWizard (Stevensville, MT)</li>
        <li>Hiryu: ArchWizard (Parts Unknown)</li>
        <li>Jgambit: ArchWizard (Cleveland, Ohio)</li>
      </ul>
    </div>
  </QandA>

  <QandA question="What Kind of Hardware Does Infinity Run On?">
    <div>
      Today, Infinity runs on a 64 bit VM running CentOS 7.9, with 4 GB RAM and
      450 GB disk space.
    </div>
    <div>
      On disk, Infinity presently consumes approximately 1.7GB, including all
      player files, Wizard areas and home page support files. We use an
      additional 1.2GB of space for archived logs, archived driver source,
      scripts, etc.
    </div>
  </QandA>

  <QandA question="What Kind of Hardware has Infinity Run On In the Past?">
    <div>
      At the end of 1994 and the beginning of 1995, Infinity changed sites, from
      the College of Computer Science at Northeastern University to Syracuse
      University. In order to make the move, we needed to purchase our own hard
      drive and controller. Our users gave generously to the Infinity
      Administration; with these funds, we purchased a Seagate gigabyte SCSI
      drive, and an Adaptec 1522A SCSI controller.
    </div>

    <div>
      In May of 1996, we moved from Syracuse University to Legacy Creative
      Ventures, Inc., in Seattle, Washington. We held yet another fund drive and
      ended up with our current P75 box. We now have much more room to expand,
      and without the generosity of our players, we couldn't have found a way to
      come back on the net. We thank you, and hope that you appreciate the
      continued existence of the game.
    </div>

    <div>
      Infinity received a massive upgrade in December of 1999. The system that
      was shipped to Bigtoad was pathetic. It consisted of:
    </div>

    <div class="mt-1">
      <ul>
        <li>Asus P/I-P55TP4N Motherboard w/512K pipelined burst cache</li>
        <li>Intel P75 CPU overclocked to P100</li>
        <li>32MB SDRAM</li>
        <li>ISA Oak Technology OTIVGA video card</li>
        <li>ISA 3Com Etherlink III (3C509-COMBO) network card</li>
        <li>ISA Adaptec 1542 SCSI adapter</li>
        <li>HP SureStore 1GB SCSI hard drive</li>
        <li>Quantum ProDrive LPS 270MB SCSI hard drive</li>
        <li>Mitsumi IDE CDROM drive</li>
        <li>1.44MB floppy drive</li>
      </ul>
    </div>

    <div class="mt-1">
      That box was in sorry condition in other ways. The case was poorly
      designed, making it necessary to remove the motherboard to add or remove
      hard drives. The system bus speed was set to 50MHz (correct for a P75) but
      the clock multiplier was set to 2, driving the CPU core at 100MHz. No
      serious attempt had been made to cool the overclocked CPU -- it's amazing
      that the system hadn't melted down. There was a CPU fan in the system, but
      it was much too small for a Pentium. The fan appeared to have been
      designed for a 486 CPU. In any case, since there was no way to attach the
      fan to the heat sink on the CPU, it was just dangling inside the case.
    </div>

    <div>
      Apparently someone had lost the SCSI ID jumpers for the Quantum hard
      drive. They had been replaced by soldering wires onto each of the ID
      jumper pins, and twisting them together to set the SCSI ID.
    </div>

    <div>
      While there was a CDROM drive in the case, there was no IDE cable, and no
      power was connected to the CDROM drive. The reason for this became
      apparent when an IDE cable was installed -- the system would not boot with
      the CDROM drive connected.
    </div>

    <div>The system did not have a mouse, keyboard or monitor with it.</div>

    <div>
      The only items that were retained from that system were the motherboard,
      32MB of RAM, the floppy drive and the 1GB SCSI hard drive. Even the case
      was thrown out and replaced. Since Bigtoad is a bit of a hardware nut, he
      was offended by a system that had no PCI adapters but had all the ISA
      slots in use. All the adapter cards were promptly replaced.
    </div>

    <div>
      Bigtoad rebuilt the system, and then later upgraded it to consist of:
    </div>

    <div class="mt-1">
      <ul>
        <li>Asus P/I-P55TP4N Motherboard w/512K pipelined burst cache</li>
        <li>Intel P133 CPU</li>
        <li>64MB SDRAM</li>
        <li>PCI Trident video card</li>
        <li>PCI 3Com 10/100 3C905B network card</li>
        <li>PCI Advansys 3922 SCSI-2 adapter</li>
        <li>Seagate Barracuda ST15150N 4GB SCSI hard drive</li>
        <li>HP SureStore 1GB SCSI hard drive</li>
        <li>Toshiba XM4101B SCSI CDROM drive</li>
        <li>1.44MB floppy drive</li>
      </ul>
    </div>

    <div class="mt-1">
      By the standards of the day, it was still a pretty pathetic system, but
      it's all we needed for a MUD. This system ran Red Hat 6.1 Linux.
    </div>

    <div>
      Later, Infinity ran as a 64 bit VM running CentOS 5.8, with 2 GB RAM and
      120 GB disk space.
    </div>
  </QandA>
</InfinityMainLayout>
