---
import InfinityMainLayout from "../layouts/InfinityMainLayout.astro";
import QandA from "../components/QandA.astro";
import PageHeader from "../components/PageHeader.astro";
---

<InfinityMainLayout>
  <PageHeader title="FAQ" />
  <QandA question="What Kind of Mud Is Infinity?">
    Infinity originally started out in the beginning of 1992 as an LPMud running
    the 3.1.2 driver in compatibility mode, using a slightly modified 2.4.5
    mudlib. Over the past several years, we have migrated to the Amylaar driver,
    and followed the 3.2.1 development tree to LDMud, and are now running the
    latest stable release of 3.3.720. Our mudlib has been heavily modified by
    the ArchWizards, integrating new ideas to increase the enjoyment of players,
    decrease the amount of work for the ArchWizards, and to provide the Wizards
    with a comfortable environment for them to create areas in.
  </QandA>
  <QandA question="Does Infinity support player killing?">
    Infinity supports player-killing on a very limited basis. We believe that
    the focus of Infinity should be on the solving of quests, and the
    socializing with other characters on the game. As a result, player-killing
    is extremely restricted, appearing only in one room, the Arena. The Arena is
    located in the Town, and is the only room in which you can attack other
    players. There are no rules; ArchWizards will not arbitrate in any
    arena-related disputes, and there are no rules governing the idea of ganging
    up on other people, corpse-looting, or something similar. In the Arena,
    anything goes.
  </QandA>
  <QandA question="Why is Samuel Adams beer in the Pub and Tavern?">
    Infinity has been fortunate to receive permission from Jim Koch, president
    of the Boston Beer Company, to use the name of Samuel Adams on our beers in
    Infinity. This probably had a lot to do with the fact that Samuel Adams is
    Mutara's beer of choice. Besides, when was the last time you saw a
    Firebreather in a liquor store? Infinity currently offers two varieties of
    Samuel Adams. Samuel Adams Boston Lager is offered in the Pub in Town, and
    Boston Ale is offered in the Drunken Horse Tavern. We plan to rotate these
    beers to reflect the seasonal brews released by the Boston Beer Company
    shortly.
  </QandA>
  <QandA question="Who makes Infinity and Why?">
    <div>
      The ArchWizards of Infinity are the individuals that keep the game
      running. They undertake the unenviable tasks of writing and implementing
      the rules, policing the mud, serving as the quality control for areas,
      upholding the ethics they choose to revere, and providing a safe,
      protected environment for people that just want to have fun on a game.
      Each of them have been selected out of a number of qualified candidates
      for their drive, ambition, interest, and creativity; not only are they
      able to design and implement their ideas in ways to best improve the mud,
      they are also willing to listen to ideas from players and Wizards.
      <div class="mt-1">
        If you do have any comments or suggestions, you may send mail to them
        from the Post Office on the game (two west, two north, and one east from
        the Center of Town) at arches, or send them email at <a
          href="mailto:infinity@infinitymud.net">infinity@infinitymud.net</a
        >
      </div>
    </div>
    <div class="mt-1">
      Most recently, the Arches have taken on the progress of refurbishing the
      mud. Obscene amounts of hours have been poured into updating mud code,
      developing a top of the line <a href="https://infinitymud.net/play/">
        custom web client</a
      >, and squashing bugs. They do this because they hope you will enjoy this
      game as much as they do.
    </div>

    <div class="mt-1">The current Infinity Administration includes:</div>
    <div>
      <ul>
        <li>Malc: Administrator (Salt Lake City, Utah)</li>
        <li>Devnull: ArchWizard (Stevensville, MT)</li>
        <li>Hiryu: ArchWizard (Parts Unknown)</li>
        <li>Jgambit: ArchWizard (Cleveland, Ohio)</li>
      </ul>
    </div>
  </QandA>
</InfinityMainLayout>
