---
import InfinityMainLayout from "../layouts/InfinityMainLayout.astro";
import PageSection from "../components/PageSection.astro";
import PageHeader from "../components/PageHeader.astro";
import players from "../assets/players.png";
import wizhood from "../assets/wizhood.png";
import beyond from "../assets/beyond-advancement.png";
---

<InfinityMainLayout title="Gameplay" description="Learn how to play Infinity MUD. Advance through quests, join guilds, gain powers, and progress from adventurer to Wizard or Hero status.">
  <PageHeader title="Gameplay">
    Infinity is a big place, with a <a href="/history">rich history</a>, <a
      href="/guilds">fun guilds</a
    >, and unique areas. Delve into learning more about how things work on
    Infinity. Looking for info on how to connect? Visit our <a href="/clients"
      >list of clients</a
    >!
  </PageHeader>
  <PageSection
    title="Players"
    img={{ src: players, alt: "Infinity Players" }}
    loading="eager"
  >
    In the vast and immersive world of Infinity, players embody a diverse
    community of individuals characterized by their sharp intellect and
    unwavering courage. These adventurers navigate a realm filled with intricate
    quests that demand not only strategic thinking but also a keen intellect to
    unravel the mysteries woven into the game's fabric. Bravery is a
    prerequisite as players engage in epic battles, facing formidable foes and
    overcoming challenges that test the limits of their courage. The game
    provides a multitude of opportunities for players to shape their destinies
    by joining various <a href="/guilds">guilds</a>, each offering a unique set
    of skills and privileges. Whether unraveling the secrets of ancient dungeons
    or engaging in fierce combat, the players of Infinity LPMud showcase both
    intelligence and bravery as they embark on thrilling quests within this
    virtual realm. You can view our <a href="/top-players">top players</a> list to
    see who the most experienced players are.
  </PageSection>

  <PageSection
    title="Advancement"
    img={{
      src: wizhood,
      alt: "Young man being promoted to Wizard",
    }}
  >
    In the dynamic world of Infinity LPMud, leveling up is intricately tied to
    completing quests, which serve as the primary avenue for advancing one's
    level. What sets these quests apart is their accessibility, allowing players
    to embark on them at any level without the need for combat. These non-combat
    quests provide a unique opportunity for players of varying skill levels to
    progress in the game. However, the challenge doesn't end with leveling
    quests; players must eventually face the more demanding Wizard Quests.
    Unlike their non-combat counterparts, Wizard Quests not only test players'
    intelligence and problem-solving skills but also require them to engage in
    fierce battles against high-level monsters. It's through these quests, both
    combat and non-combat, that players navigate the path to advancement and
    strive to reach the coveted status of a wizard in Infinity LPMud.
  </PageSection>

  <PageSection title="Powers">
    As players journey through the levels in Infinity LPMud, they unlock a range
    of powers that significantly enhance their capabilities. Basic magic becomes
    a foundational skill accessible to all players, providing a starting point
    for exploring mystical abilities. However, the true depth of power comes
    into play when a player joins a guild. Upon joining, players gain access to
    a repertoire of new skills and advanced magic tailored to the specific focus
    of their chosen guild. These additional abilities serve to further elevate
    their prowess, whether in combat, strategic planning, or other specialized
    domains. The acquisition of powers not only reflects the character's growth
    but also adds a dynamic layer to the gameplay, ensuring that each player's
    journey in Infinity LPMud is marked by continuous development and the
    mastery of increasingly potent skills.
  </PageSection>

  <PageSection
    title="Beyond Levels"
    img={{
      src: beyond,
      alt: "Decide on Your Advancement",
    }}
  >
    Upon successfully navigating the formidable challenges of Wizard Quests in
    Infinity LPMud, players face a pivotal choice in their progression. They can
    opt to ascend to the esteemed rank of Wizard, where they are bestowed with a
    personal castle and the unique ability to contribute to the game's code.
    This role empowers Wizards to design and shape new realms within the game,
    limited only by the bounds of their imagination. On the other hand, players
    may choose to become a Hero, the epitome of combat prowess in the game.
    Heroes not only wield unmatched power in battles but also serve as guides
    and leaders to lower-level players, providing valuable guidance and support.
    The decision between becoming a Wizard or a Hero marks a crucial point in a
    player's journey, allowing them to define their role in the vast and
    ever-evolving landscape of Infinity LPMud.
  </PageSection>
</InfinityMainLayout>
