---
import PageHeader from "../components/PageHeader.astro";
import PageSection from "../components/PageSection.astro";
import InfinityMainLayout from "../layouts/InfinityMainLayout.astro";
import history from "../assets/history.png";
---

<InfinityMainLayout title="History" description="The history of Infinity MUD from its creation in 1992 at Northeastern University through over 30 years of continuous operation and community.">
  <PageHeader
    title="History"
    img={{
      src: history,
      alt: "Wizard in the library studying history",
    }}
  />
  <PageSection>
    To date, Infinity has been online for over 30 years. We've seen multiple
    changes in administration, multiple updates of our game library, added tons
    of features and thousands of rooms. If you want to get a taste of some of
    early guiding principles that influenced the game, be sure to check out <a
      href="/archive">The Archive</a
    >. You can also browse photos of Infinity's community in the <a
      href="/gallery/">user gallery</a
    >. What follows below is a recounting of how our community came to be.
  </PageSection>

  <PageSection title="A Brief History of Infinity">
    Infinity was created in early 1992 by Django and a few other people at the
    <a href="https://www.khoury.northeastern.edu/"
      >College of Computer Science</a
    > at <a href="https://www.northeastern.edu/">Northeastern University</a>, in
    Boston, Massachusetts. It was originally designed to be a school project of
    Django's, but has since ballooned into something just a bit bigger.
  </PageSection>

  <PageSection>
    Mutara joined forces with Django in February or March of 1992 (the exact
    month isn't remembered), and together began the layout for an LPmud that was
    based on the 2.4.5 mudlib, running the 3.1.2 LPmud driver in compatibility
    mode. Infinity was conceived with the idea of three parallel timelines,
    which allowed Wizards to code areas from modern factories to medieval lands,
    to futuristic wastelands.
  </PageSection>

  <PageSection>
    The original concept for Infinity was written by Mutara and based on a
    backstory he created. You can read the original Infinity lore <a
      href="/lore">here</a
    >.
  </PageSection>

  <PageSection>
    Infinity opened for players on September 9, 1992. Shortly thereafter,
    Isenbold, Kragen, and Rhydia were hired as the first archwizards. Mutara was
    made a co-administrator with Django, and the players started to pour in.
  </PageSection>

  <PageSection>
    Over the past couple of <span class="line-through">years</span> decades, Infinity
    has been fortunate to have a number of talented individuals work as ArchWizards.
    These include Arsenal, Bigtoad, Hiero, Huan (Dimwit from the World of Mizar),
    Isenbold, Juniper, Kragen, Malc, Ned, Qualstar, Rhydia, and Tanzi (also from
    the World of Mizar). Outside time constraints have taken Amon, Kragen, Rhydia,
    and Tanzi from us. Django retired in December of 1994, leaving the current administration
    as Mutara (Administrator), Amon, Hiero, Huan, Juniper, and Qualstar (ArchWizards),
    and turning over the mud to Mutara.
  </PageSection>

  <PageSection>
    Isenbold rejoined the ArchWizard staff in early 1996. In 1998, Hiero,
    Arsenal, and Bigtoad joined the team. In 2004, Malc and Ned were drafted,
    and in 2009, Mutara retired, leaving Malc and Bigtoad as dual
    Administrators. Bigtoad handled mostly the hardware and hosting side of
    things, and Malc the game and player management.
  </PageSection>

  <PageSection>
    All the archwizards retired around 2009 as well, so only Malc and Bigtoad
    were left running things until 2022. Sadly, in April of 2022, Bigtoad passed
    away. Malc continues to run things, with a group of new Archwizards,
    Devnull, Hiryu, and Jgambit.
  </PageSection>

  <PageSection>
    In December of 1994, Northeastern University informed Infinity that
    Infinity's host computer was to be used for other purposes, and would no
    longer be able to serve as Infinity's server. The administration immediately
    looked for other sites, and after discussions with various commercial
    providers across the country, moved to <a href="https://www.syracuse.edu/"
      >Syracuse University</a
    >, residing on Ramen's 486 DX2/66, running Linux. A fund-raiser for a new
    hard drive was started, and we were able to buy a SCSI gigabyte hard drive
    and a SCSI controller for the game. Infinity reopened for players in
    February of 1995, after a short hiatus to move operations to Syracuse, clean
    up the game somewhat, and to let the ArchWizards have a small vacation.
  </PageSection>

  <PageSection>
    Infinity thrived for well over a year at Syracuse. Infinity then moved to <a
      href="http://firstcomm.com">Legacy Creative Ventures, Inc.</a
    > in Seattle, Washington under the care of the wizard known as Ned. With the
    generous donations of Infinity's users, we were able to purchase our own P75
    box with 32 MB of RAM, well over a gigabyte of drive space, sitting on a fast
    net.
  </PageSection>

  <PageSection>
    In March of 1997, we moved from Legacy Creative Ventures to SPITE in Boston,
    bringing the machine back to the east coast under the care of Dred. We then
    got our own domain name of <b>infinitymud.com</b>, which should ensure that
    fewer people lose track of us as we change sites. As we move, our hostname
    should stay the same.
  </PageSection>

  <PageSection>
    In the summer of 1997, Hiero joined the ranks of the ArchWizards, bringing
    his experience to other areas of the game besides his famous Solstice
    wizquest.
  </PageSection>

  <PageSection>
    In April of 1998, our globehopping Linux machine headed back for the West
    Coast, to Tesla Networks Limited, of Shoreline, WA. This marks the second
    time Ned has been custodian of the machine. Later, in August, Dred
    redesigned the website to take advantage of emerging web technologies.
    (Which are now feeling the weight of age)
  </PageSection>

  <PageSection>
    In November of 1999, Tesla Networks folded. The box was then shipped to
    Bigtoad in Portland, Oregon. Bigtoad found the hardware that Infinity was
    running on to be pathetic, and performed a fairly massive upgrade. Infinity
    was then hosted at Bigtoad's non-mudding brother's house on his DSL line.
  </PageSection>

  <PageSection>
    In 2009, Qualstar, sadly, passed away. In memory of him and all his
    excellent work, please see this <a href="/qualstar">memorium</a>.
  </PageSection>

  <PageSection>
    For the past several years, until 2022, Infinity resided in a commercial
    data center thanks to Bigtoad's generosity.
  </PageSection>

  <PageSection>
    Infinity continues to thrive. We anticipate being on the Internet for quite
    some time, and are always looking for ways to make the game grow.
  </PageSection>
</InfinityMainLayout>
