---
import InfinityMainLayout from "../layouts/InfinityMainLayout.astro";
---

<InfinityMainLayout title="Home Page">
  <h1
    class="text-6xl lg:text-8xl font-bold text-center font-medieval leading-tight text-bodyText"
  >
    Infinity LPMud
  </h1>
</InfinityMainLayout>
