---
import "../../styles/parchment.css";
---

<script>
  // First call to define "parchment" height
  document.onload = ScrollHeight();

  // Redraw when viewport is modified
  window.addEventListener("resize", function (event) {
    ScrollHeight();
  });

  function ScrollHeight() {
    var content = document.querySelector("#parchment");
    var container = document.querySelector("#contain");

    content.style.height = 3500 + "px";
  }
</script>
<main>
  <div id="parchment"></div>
  <div id="contain">
    <p>
      <img src="/assets/logo.png" class="mx-auto" />
    </p>

    <p>Greetings, brave soul!</p>

    <p class="dropcap">
      We extend to you a personal invitation to join us on an extraordinary
      journey into the realms of Infinity MUD - where limitless adventures await
      those with the courage to explore. Your valiant spirit and thirst for
      excitement have caught our attention, and we believe you are destined for
      greatness within our immersive virtual world.
    </p>

    <p>
      Infinity MUD is not just a game; it's an experience that transcends
      boundaries, offering an unprecedented level of diversity in its quest
      system. Prepare yourself for a tapestry of adventures, each more
      captivating and challenging than the last. As you traverse through
      thousands of unique rooms, you'll discover hidden treasures, encounter
      mythical creatures, and unveil the secrets of a world waiting to be
      explored.
    </p>
    <img
      src="/assets/dragon-battle.png"
      alt="Dragon Image"
      class="mx-auto h-250 w-250"
    />
    <p>
      One of the crown jewels of Infinity MUD is its exclusive guild system.
      Join forces with like-minded adventurers, each guild equipped with unique
      powers and skills. Together, you'll forge alliances, face formidable foes,
      and leave an indelible mark on the ever-evolving landscape of our virtual
      realm.
    </p>

    <p>
      What sets Infinity MUD apart is its custom web client, designed with your
      convenience in mind. No need for cumbersome installations - simply log in
      and embark on your odyssey from the comfort of your browser. Our
      user-friendly interface ensures a seamless and immersive experience,
      allowing you to focus on what matters most - the thrill of the adventure.
    </p>
    <img
      src="/assets/orc-battle.png"
      alt="Orc Image"
      class="mx-auto h-250 w-250"
    />
    <p>
      Whether you seek fame, fortune, or the sheer joy of conquering the
      unknown, Infinity MUD welcomes you with open arms. Join a vibrant
      community of adventurers, each contributing to the rich tapestry of our
      ever-expanding universe.
    </p>

    <p>
      Are you ready to redefine your idea of gaming? Your destiny awaits in
      Infinity MUD.
    </p>

    <p>
      May your sword stay sharp, your spells potent, and your courage
      unwavering.
    </p>

    <p>Sincerely,</p>
    <p>The Infinity MUD Team</p>
    <!-- This a red wine cachet ... but shh ! -->
    <p class="cachet"><img src="https://i.postimg.cc/4NBYNqCR/22.png" /></p>
    <div id="signature">
      Imperator Caesar Flavius Constantinus<br />Pius Felix Invictus Augustus
    </div>
  </div>
</main>

<svg>
  <filter id="wavy2">
    <feTurbulence x="0" y="0" baseFrequency="0.02" numOctaves="5" seed="1"
    ></feTurbulence>
    <feDisplacementMap in="SourceGraphic" scale="20"></feDisplacementMap>
  </filter>
</svg>
