---
import InfinityMainLayout from "../layouts/InfinityMainLayout.astro";
---

<InfinityMainLayout>
  <main class="bg-paper-bg min-h-screen bg-opacity-75">
    <div class="relative pt-28 mx-2 px-6 md:px-1">
      <img
        alt="Infinity LPMud"
        src="/assets/infinity-logo-combined.png"
        class="mx-auto relative z-10 logo"
      />

      <h1 class="header-style page-header">Greetings, Brave Adventurer</h1>

      <p class="text-xl">
        Are you ready for a journey beyond the ordinary? An adventure that
        transcends the realms of imagination and challenges the limits of your
        creativity? Look no further, for Infinity MUD awaits you!
      </p>
      <p class="text-xl">
        Infinity is a free, multi-player, text-based adventure game full of
        mind-bending quests and epic battles. No download required -
        <a style="font-weight:bold" href="https://infinitymud.com/play"
          >Start Your Adventure Now</a
        >.
      </p>
      <h1 class="header-style section-header">Quests</h1>
      <img
        src="/assets/quests.png"
        alt="Quest Image"
        class="mx-auto h-250 w-250 mb-1"
      />
      <p class="text-xl">
        Embark on a captivating journey within Infinity, where quests
        transcend the ordinary and offer a range of difficulties to
        challenge adventurers of all levels. Our quests are meticulously
        crafted, each providing players with a unique and immersive experience.         
        At Infinity, we believe in fostering a sense of
        discovery and encourage players to think creatively and strategically to
        overcome the hurdles that await them in this ever-evolving world.
      </p>
      
      <h2 class="header-style section-header">Guilds</h2>
      <img
        src="/assets/dragon-battle.png"
        alt="Dragon Image"
        class="mx-auto h-250 w-250"
      />
      <p class="text-xl">
        Dive into the rich tapestry of Infinity MUD's guild system, where
        players are invited to align themselves with unique factions, each
        offering a distinct playstyle and set of skills. Choose to become a
        master of the wilderness in the Beastmaster guild, commanding the forces
        of nature with unparalleled finesse. Alternatively, join the ranks of
        the Explorer's guild and unravel the secrets of uncharted territories,
        gaining expertise in navigation and discovery. For those seeking the way
        of the warrior, the Legion of the Eternal Blades stands ready, honing
        combat skills and forging legendary weapons. Delve into the arcane
        mysteries of the Blood Clan of the Phoenix, mastering the ancient arts
        of magic and manipulation. With a variety of guilds to choose from, each
        providing a specialized and immersive experience, Infinity MUD ensures
        that every adventurer finds a unique path to follow, shaping their
        journey and interactions within this dynamic and ever-expanding
        universe.
      </p>
      <h1 class="header-style section-header">Combat</h1>
      <img
        src="/assets/orc-battle.png"
        alt="Orc Image"
        class="mx-auto h-250 w-250"
      />
      <p class="text-xl">
        Prepare to engage in thrilling battles within, where combat and magic
        intertwine to create a dynamic and immersive experience. Monsters in our
        world aren't mere adversaries; they possess intelligence, adding an
        extra layer of challenge to encounters. Strategize and adapt as you face
        foes with cunning tactics and unpredictable behavior, ensuring that each
        skirmish is a test of both skill and wit. In the realm of magic,
        discover the arcane arts through a diverse system that allows players to
        wield powerful spells and abilities. Unearth unique magical items and
        equipment, each with its own lore and properties, ensuring that no two
        playthroughs are the same. Whether you seek legendary weapons, enchanted
        artifacts, or mystical relics, the world of Infinity MUD offers a vast
        array of possibilities, making each adventure a distinct and captivating
        journey filled with surprises and strategic depth.

        <p class="text-xl">
          Are you bored with the conventional hack-and-slash mud? We emphasize a
          gameplay experience centered around critical thinking and intricate
          problem-solving. Engage in a world where success is not solely
          determined by raw combat prowess but by the acuity of your intellect
          and the decisions you make. Quests, challenges, and puzzles are
          meticulously crafted to encourage players to strategize, ponder, and
          collaborate with the community to overcome obstacles. This isn't just
          a game; it's a dynamic tapestry of narratives interwoven with layers
          of complexity that beckon exploration and contemplation. The community
          within Infinity MUD is more than just fellow adventurers; it's a
          vibrant tapestry of diverse minds sharing experiences, insights, and
          strategies. Join a collaborative and welcoming environment where
          players contribute to the evolving narrative and collectively shape
          the world they explore. Infinity MUD isn't merely a game; it's an
          intellectual journey, a testament to the power of community, and an
          invitation to challenge yourself in ways beyond the conventional.
        </p>
        <h1 class="header-style section-header">Web Client</h1>
        <img
          src="/assets/client-use.png"
          alt="User Playing Infinity"
          class="mx-auto h-250 w-250"
        />
        <p class="text-xl">
          Experience the seamless entry into the realms of Infinity MUD with our
          user-friendly <a
            href="https://infinitymud.net/play/"
            class="important-link"
          >
            custom web client</a
          >, offering instant access without the hassle of software
          installations. Whether you're on your computer or using your mobile
          device, the web client adapts seamlessly to provide a consistent and
          immersive experience. This flexibility ensures that, whether you're at
          home or on the go, the captivating world of Infinity MUD is readily
          accessible, providing an uninterrupted journey filled with
          exploration, challenges, and camaraderie. Dive into the immersive
          universe directly from your browser, creating your character and
          embarking on an epic adventure with just a few clicks. But that's not
          all; for those seeking a more personalized experience, we provide a
          custom GUI client based on Mudlet, available for download. This client
          not only enhances gameplay with additional features but also allows
          players to tailor their interface to suit individual preferences. From
          customizing layouts to incorporating specialized scripts, the
          downloadable client empowers players to delve even deeper into the
          intricacies of Infinity MUD, ensuring that your journey is not only
          accessible but uniquely yours. Join us effortlessly, whether through
          our intuitive web client or the customizable GUI client, and immerse
          yourself in a world where your story unfolds at your fingertips.
        </p>

        <p class="text-xl">
          Are you ready to redefine your idea of gaming? Your destiny awaits in
          Infinity MUD.
        </p>

        <!-- This a red wine cachet ... but shh ! -->
        <p class="cachet"><img src="https://i.postimg.cc/4NBYNqCR/22.png" /></p>
        <div id="signature">
          Malc<br />The Banned Merchant
        </div>
      </p>
    </div>
  </main>
</InfinityMainLayout>
