---
import { Picture } from "astro:assets";
import cachet from "../assets/cachet.png";
import clientUse from "../assets/client-use.png";
import dragonBattle from "../assets/dragon-battle.png";
import greetings3 from "../assets/greetings3.png";
import orcBattle from "../assets/orc-battle.png";
import quests from "../assets/quests.png";
import PageHeader from "../components/PageHeader.astro";
import PageSection from "../components/PageSection.astro";
import InfinityMainLayout from "../layouts/InfinityMainLayout.astro";
import FrontPageTopPlayer from "../components/FrontPageTopPlayer.astro";
---

<InfinityMainLayout>
  <!-- <img src="/assets/greetings3.png" class="mx-auto z-10 w-full md:w-3/5 mt-6" alt="Infinity LPMud hero image" />   -->
  <div class="mx-auto z-10 w-full md:w-3/5 mt-6">
    <Picture
      src={greetings3}
      alt="Infinity LPMud hero image"
      loading="eager"
      height={500}
      width={500}
    />
  </div>

  <PageHeader title="Greetings, Brave Adventurer">
    Are you ready for a journey beyond the ordinary? An adventure that
    transcends the realms of imagination and challenges the limits of your
    creativity? Look no further, for Infinity MUD awaits you!
  </PageHeader>

  <PageSection>
    Infinity is a free, multi-player, text-based adventure game full of
    mind-bending quests and epic battles. No download required -
    <a style="font-weight:bold" href="https://infinitymud.com/play"
      >Start Your Adventure Now</a
    >.
  </PageSection>

  <FrontPageTopPlayer client:visible />

  <PageSection title="Quests" img={{ src: quests, alt: "Quest Image" }}>
    Embark on a captivating journey within Infinity, where quests transcend the
    ordinary and offer a range of difficulties to challenge adventurers of all
    levels. Our quests are meticulously crafted, each providing players with a
    unique and immersive experience. At Infinity, we believe in fostering a
    sense of discovery and encourage players to think creatively and
    strategically to overcome the hurdles that await them in this ever-evolving
    world.
  </PageSection>

  <PageSection>
    Infinity MUD isn't merely a game; it's an intellectual journey, a testament
    to the power of community, and an invitation to challenge yourself in ways
    beyond the conventional.
  </PageSection>

  <PageSection title="Combat" img={{ src: orcBattle, alt: "Orc Image" }}>
    Prepare to engage in thrilling battles within, where combat and magic
    intertwine to create a dynamic and immersive experience. Whether you seek
    legendary weapons, enchanted artifacts, or mystical relics, the world of
    Infinity MUD offers a vast array of possibilities, making each adventure a
    distinct and captivating journey filled with surprises and strategic depth.
  </PageSection>

  <PageSection>
    More than the conventional hack-and-slash MUD, Infinity emphasizes a
    gameplay experience centered around critical thinking and problem-solving.
    Engage in a world where success is not solely determined by raw combat
    prowess but by the acuity of your intellect and the decisions you make.
  </PageSection>

  <PageSection>
    Do you have what it takes to defeat the legendary Demon King? Can you obtain
    the Monk's powerful Katana?
    <a style="font-weight:bold" href="https://infinitymud.com/play"
      >Glory awaits you in Infinity</a
    >.
  </PageSection>

  <PageSection title="Guilds" img={{ src: dragonBattle, alt: "Dragon Image" }}>
    Dive into the rich tapestry of Infinity MUD's guild system, where players
    are invited to align themselves with unique factions, each offering a
    distinct playstyle and set of skills. Choose to become a master of the
    wilderness in the Beastmaster guild, commanding the forces of nature with
    unparalleled finesse. Alternatively, join the ranks of the Explorer's guild
    and unravel the secrets of uncharted territories, gaining expertise in
    navigation and discovery. For those seeking the way of the warrior, the
    Legion of the Eternal Blades stands ready, honing combat skills and forging
    legendary weapons. Delve into the arcane mysteries of the Blood Clan of the
    Phoenix, mastering the ancient arts of magic and manipulation. With a
    variety of <a href="/guilds">guilds</a> to choose from, each providing a specialized
    and immersive experience, Infinity MUD ensures that every adventurer finds a
    unique path to follow, shaping their journey and interactions within this dynamic
    and ever-expanding universe.
  </PageSection>

  <PageSection
    title="How To Play"
    img={{ src: clientUse, alt: "User Playing Infinity" }}
  >
    Infinity MUD is free to play. To start your adventure, our <a
      href="https://infinitymud.com/play/">user-friendly web client</a
    >
    offers instant access - no downloads, no installs.
  </PageSection>
  <PageSection>
    The Infinity MUD web client features a built in game map and is <a
      href="https://infinitymud.com/docs/">fully customizable</a
    >
    with your own alias and trigger scripts. It even works on mobile!
  </PageSection>
  <PageSection>
    For the advanced MUD player, we also support a custom GUI for the popular <a
      href="https://www.mudlet.org/"
      target="_blank">Mudlet client</a
    >, a free, cross-platform MUD client. The Infinity GUI package and map will
    automatically download after you sign in to the game.
  </PageSection>
  <PageSection>
    Or, connect to Infinity MUD with any of your <a href="/clients"
      >favorite MUD clients</a
    >. Infinity MUD is ready, awaiting adventurers at: <code
      >infinitymud.com</code
    > port <code>4242</code>
  </PageSection>

  <PageSection title="Are you ready?">
    Redefine your idea of gaming... Your destiny awaits in Infinity MUD.
  </PageSection>

  <!-- This a red wine cachet ... but shh ! -->
  <p class="cachet">
    <Picture
      src={cachet}
      height={250}
      width={210}
      alt="Wax Seal on Signature"
    />
  </p>
  <div id="signature">Malc, the High Lord Star Master</div>
</InfinityMainLayout>
<!-- </div>
  </main> -->
