---
interface Props {
  breadCrumbs: { href: string; label: string }[];
  title: string;
}
const { breadCrumbs, title } = Astro.props;
---

<nav class="archive-breadcrumb">
  {
    breadCrumbs.map((breadCrumb) => (
      <>
        <a href={breadCrumb.href}>{breadCrumb.label}</a>
        <span style="color: #ffff00;"> &gt;&gt; </span>
      </>
    ))
  }
  <span style="color: #00ffff; font-weight: bold;">{title}</span>
</nav>
