---
import { Image, Picture } from "astro:assets";

interface Props {
  title?: string;
  img?: {
    src: string | ImageMetadata;
    alt: string;
  };
}
const { title, img } = Astro.props;
---

{title && <h1 class="header-style section-header">{title}</h1>}
{
  img && (
    <div class="mb-1 w-full">
      <Picture src={img.src} alt={img.alt} class="mx-auto" />
    </div>
  )
}

<p class="text-xl">
  <slot />
</p>
