---
interface Props {
  title?: string;
  img?: {
    src: string;
    alt?: string;
  };
}
const { title, img } = Astro.props;
---

{title && <h1 class="header-style section-header">{title}</h1>}
{
  img && (
    <img src={img.src} alt="Quest Image" class="mx-auto h-250 w-250 mb-1" />
  )
}

<p class="text-xl">
  <slot />
</p>
