---
interface Props {
  question: string;
}
const { question } = Astro.props;
---

<p class="text-xl">
  <div class="qa text-3xl">
    {question}
    <div class="qa text-xl">
      <slot />
    </div>
  </div>
</p>
