---
interface Props {
  question: string;
  answer?: string;
}
const { question, answer } = Astro.props;
---

<p class="text-xl">
  <div class="qa text-2xl">
    <span class="text-3xl">Q:</span>{question}
    <div class="qa text-xl">
      <span class="text-xl">A:</span>
      {answer}
    </div>
  </div>
</p>
