---
interface Props {
  question: string;
}
const { question } = Astro.props;
---

<p class="text-xl">
  <div class="qa text-2xl">
    <span class="text-3xl"></span>{question}
    <div class="qa text-xl">
      <span class="text-xl"></span>
      <slot />
    </div>
  </div>
</p>
