---
import InfinityMainLayout from "../../layouts/InfinityMainLayout.astro";
---

<InfinityMainLayout>
  <main class="bg-paper-bg min-h-screen bg-opacity-75">
    <h1 class="page-header">Qualstar</h1>

    <h1 class="section-header">WILLIAMS, Daniel J.</h1>

    <p>
      Suddenly, in Dorchester, August 26th. Beloved son of the late Robert J.
      Sr. and Claire (Horton) Williams. Loving brother of Cynthia M. Veglia of
      Dorchester, Robert J. Williams Jr. of CO, Christopher M. Williams of NH,
      James A. Williams of AZ, Frederic H. Williams of Sudbury, and the late
      Phillip M. Williams. Survived by many nieces, nephews, grandnieces,
      grandnephews, cousins, and aunts. Visiting hours in the Murphy Funeral
      Home, 1020 Dorchester Ave., DORCHESTER, Monday morning, August 31, at 9
      A.M. Followed by a Funeral Mass in St. Margaret Church of Blessed Mother
      Teresa Parish at 11 A.M. Relatives and friends invited. In lieu of
      flowers, donations in his memory may be made to the Jimmy Fund, c/o
      Dana-Farber Cancer Institute, 10 Brookline Pl. West, (6th floor),
      Brookline, MA 02445. Interment Private. For directions and guestbook, <a
        href="https://www.jmurphyfh.com">www.jmurphyfh.com</a
      >. Funeral Home handicapped accessible with ample parking.
    </p>

    <div class="section-header">Qualstar's Legacy</div>

    <p>
      Qualstar was the creator of many of the greatest areas and quests on
      Infinity. In fact, four of his quests live on from the time they opened,
      still considered to be among the hardest and best quests ever, with 3 of
      them being expert level quests, and HRC being a wizard quest:
    </p>

    <p>
      <ul>
        <li>Telna 1</li>
        <li>Telna 2</li>
        <li>High Rock Castle (HRC)</li>
        <li>Amark's Magicka University</li>
      </ul>
    </p>

    <p>Q, you will be missed... but your legacy will live on forever!</p>
  </main>
</InfinityMainLayout>
