---
import "../../styles/global.css";
import { SEO } from "astro-seo";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap"
      rel="stylesheet"
    />

    <SEO
      title="Infinity LPMud"
      description="Prepare For Adventure"
      openGraph={{
        basic: {
          title: "Prepare For Advenure",
          type: "Gaming",
          image: "https://infinity-website-beta.vercel.app/assets/logo.png",
        },
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "https://infinity-website-beta.vercel.app/assets/logo.png",
          },
          { name: "twitter:title", content: "Infinity LPmud" },
          { name: "twitter:description", content: "Prepare For Adventure" },
        ],
      }}
    />
  </head>
  <body>
    <!-- <nav class="flex items-center justify-between">
      <div>
        <a href="/">Logo/Brand</a>
      </div>
      <div class="lg:hidden">

        <button id="mobile-menu-button">
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex space-x-4">
       
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </div>
    </nav>

    <div id="mobile-menu" class="lg:hidden hidden">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </div> -->
    <slot />
  </body>
</html>
