---
import "../../styles/archive.css";
import ArchiveBreadcrumb from "../components/ArchiveBreadcrumb.astro";
import SEOHead from "../components/SEOHead.astro";
interface Props {
  breadCrumbs?: { href: string; label: string }[];
  title: string;
  noBreadCrumbs?: boolean;
}
const { breadCrumbs: _breadcrumbs = [], title, noBreadCrumbs } = Astro.props;
const breadCrumbs = [
  { href: "/archive/main", label: "Archive" },
  ..._breadcrumbs,
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <SEOHead title={title} />
  </head>
  <body>
    <header>
      {
        !noBreadCrumbs && (
          <ArchiveBreadcrumb breadCrumbs={breadCrumbs} title={title} />
        )
      }
      <h1>Welcome to The Infinity Archives</h1>
    </header>

    <img
      src="/assets/archive/under_construction.gif"
      alt="Under Construction"
      style="display: block; margin: 0 auto;"
    />

    <div class="content-container">
      <slot />
    </div>

    <footer>&copy; 1996 Infinity LPMud</footer>
  </body>
</html>
