/* @import url("https://fonts.googleapis.com/css?family=Pirata+One|Bilbo+Swash+Caps&display=swap"); */

* {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  * {
    scroll-behavior: auto;
  }
}
:root {
  --fontSize: calc((1vw + 1vh) * 0.5);
}

html,
body {
  height: 100%;
}

body {
  font: var(--fontSize) / 200% serif;
}

.nav-text {
  font-family: MedievalSharp, cursive;
  color: #7f3300;

  text-align: center;
}

.header-style {
  font-family: MedievalSharp, cursive;
  color: #7f3300;
  padding-top: 3rem;
  padding-bottom: 1rem;
  text-align: center;
}

.page-header {
  padding-top: 5rem;
  font-size: 5em;
  line-height: 1.5;
}

.section-header {
  font-size: 4em;
  line-height: 1.5;
}

main {
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
}

#parchment {
  position: absolute;
  display: flex;
  width: 100%;
  /* center page with absolute position */
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 2em 0;
  z-index: -1;
  padding: 4em;
  box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset;
}

main p {
  /* font-size: 2.25em; */
  color: #7f3300;
  margin-top: 0.75em;
  text-align: center;
}

ul li {
  font-size: 2rem;
  color: #7f3300;
  margin-top: 0.75em;
  text-align: center;
  list-style: none;
}

.cachet {
  /* image width = 210px and height = 250px */
  /*  5 is one common denominator 210 = 5 * 42 */
  width: calc((100vw * 5) / 42);
  height: auto; /* Height is auto ajusted */
  margin-top: 4rem;
  margin-left: auto;
}

#signature {
  text-align: right;
  color: black;
  font-size: 250%;
  font-family: Caveat, cursive;
  padding-bottom: 3rem;
}

a {
  text-decoration: underline;
}
