/* @import url("https://fonts.googleapis.com/css?family=Pirata+One|Bilbo+Swash+Caps&display=swap"); */

:root {
  --fontSize: calc((1vw + 1vh) * 0.75);
}

*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font: var(--fontSize) / 200% serif;
}

.page-header {
  font-family: MedievalSharp, cursive;
  font-size: 5em;
  color: #7f3300;
  padding-top: 3rem;
  padding-bottom: 1rem;
  text-align: center;
}

.section-header {
  font-family: MedievalSharp, cursive;
  font-size: 4em;
  color: #7f3300;
  padding-top: 3rem;
  padding-bottom: 1rem;
  text-align: center;
}

main {
  postion: relative;
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
}

#parchment {
  position: absolute;
  display: flex;
  width: 100%;
  /* center page with absolute position */
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 2em 0;
  z-index: -1;
  padding: 4em;
  box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset;
}

main p {
  font-size: 2.25em;
  color: #7f3300;
  margin-top: 0.75em;
  text-align: center;
}

ul li {
  font-size: 2.25em;
  color: #7f3300;
  margin-top: 0.75em;
  text-align: center;
  list-style: none;
}

#contain {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: auto;
  margin: 0 auto;
  padding: 4em;
}

.inkTitle {
  font-size: 3em;
  font-family: Pirata One, sans-serif;
  text-align: center;
  line-height: 3em;
  color: black;
  opacity: 0.6;
}

.cachet {
  /* image width = 210px and height = 250px */
  /*  5 is one common denominator 210 = 5 * 42 */
  width: calc((100vw * 5) / 42);
  height: auto; /* Height is auto ajusted */
  margin-top: 4rem;
  margin-left: auto;
}

#labarum img,
.cachet img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#signature {
  text-align: right;
  color: black;
  font-size: 250%;
  font-family: Caveat, cursive;
  padding-bottom: 3rem;
}

/* Styling the link */
a.important-link {
  display: inline-block; /* Make it a block element to apply transformations */
  transition: transform 0.3s; /* Smooth transition for the transform property */
}

/* Adding underline effect */
a.important-link::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #000; /* Change the color to your preference */
  transition: width 0.3s; /* Smooth transition for the width property */
}

/* Hover effect - underline and transform */
a.important-link:hover {
  transform: scale(1.2);
}

a.important-link:hover::after {
  width: 100%; /* Full width on hover */
}

a {
  text-decoration: underline;
}
